{% extends "layout.html" %}
{% block content %}
<form action="" method="post">
    <h2 class="text-center text-primary">Utilities for EBC Demos</h2>
        <table class="table">
            <thead class="thread-dark">
                <tr>
                    <th scope="col">Company Name</th>
                    <th scope="col">Street Address</th>
                    <th scope="col">City</th>
                    <th scope="col">Zip Code</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
            {% for current_company in all_companies %}
                <tr>
                    <td scope="row">{{ current_company.company_name }}</td>
                    <td scope="row">{{ current_company.street_address }}</td>
                    <td scope="row">{{ current_company.company_city }}</td>
                    <td scope="row">{{ current_company.company_state }}</td>
                    <td class="text-center">
                        <!--<a class='btn btn-info btn-xs' href="/edit_company/{{ current_company.firebase_key }}">
                            <svg width="1em" height="2em" viewBox="0 0 16 16" class="bi bi-journal-check" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z"/>
                                <path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z"/>
                                <path fill-rule="evenodd" d="M10.854 6.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 8.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
                            </svg>
                        Edit</a>-->
                        <button name="action_button" id="edit_button" class="btn btn-info btn-xs" value="edit{{current_company.firebase_key}}">Edit</button>
                    </td>
                    <td class="text-center">
                        <!--<a href="#" class="btn btn-danger btn-xs">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-exclamation-diamond-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M9.05.435c-.58-.58-1.52-.58-2.1 0L.436 6.95c-.58.58-.58 1.519 0 2.098l6.516 6.516c.58.58 1.519.58 2.098 0l6.516-6.516c.58-.58.58-1.519 0-2.098L9.05.435zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
                            </svg>Del
                        </a>-->
                        <button name="action_button" class="btn btn-danger btn-xs" value="delete{{current_company.firebase_key}}">Delete</button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    <input type="submit" id="submit_button_process" name="submit" value="Add Company" class="btn btn-primary" />
    <p class="text-center">Status Message:&nbsp; {{ status_message }}</p>
</form>
{% endblock %}