{% extends "layout.html" %}
{% block content %}
    <h1 class="text-center">Notification Page</h1>
    <table class="table">
        <thead class="thread-dark">
            <tr>
                <th scope="col">Notification Title</th>
                <th scope="col">Notification Description</th>
                <th scope="col">Group ID</th>
            </tr>
        </thead>
        {% for current_notification in all_notifications %}
        <tbody>
            <tr>
                <td scope="row">{{ current_notification.header.title }}</td>
                <td scope="row">Filler</td>
                <td scope="row">Filler</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}