{% extends "layout.html" %}
{% block content %}
<form action="" method="post">
    <div class="row form-group">
        <label class="col-xl-1 pt-4" for="notification_title">Title</label>
        <input type="text" class="form-control col-xl-9 mt-3" name="notification_title" id="notification_title"
               placeholder="{{ notification.header.title }}" value="{{ notification.header.title }}" disabled="true">
    </div>
    <div class="form-group">
        <label for="notification_description">ServiceNow Client ID</label>
        <input type="text" class="form-control" id="notification_description" placeholder="{{ notification.body.description }}"
               name="notification_description" value="{{ notification.body.description }}" disabled="true">
    </div>
    <table class="table">
        <thead class="thread-dark">
            <tr>
                <th scope="col">Send Notification</th>
                <th scope="col">Display Name</th>
                <th scope="col">User ID</th>
            </tr>
        </thead>
        <tbody>
        {% for current_user in all_users %}
            <tr>
                <td scope="row">
                    <label class="checkbox">
                        <input type="checkbox" name="user_id" value="{{ current_user.user_id }}">
                    </label>
                </td>
                <td scope="row">{{ current_user.display_name }}</td>
                <td scope="row">{{ current_user.user_id }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <button class="button is-primary is-small" type="submit">Send</button>
</form>
{% endblock %}