{% extends "layout.html" %}
{% block content %}
<div class="container">
    <h2 class="text-center text-primary">Total Files Uploaded: {{ number_of_files }}</h2>
    <h3>Upload new File</h3>
    <form method=post enctype=multipart/form-data>
      <input class="form-control" type=file name=file />
      <br/>
      <button type="submit" class="btn btn-primary">Upload</button>
      <br/>
    </form>
    <table class="table">
        <thead class="thread-dark">
            <tr>
                <th scope="col">Action</th>
                <th scope="col">Delete</th>
                <th scope="col">File Name</th>
            </tr>
        </thead>
        <tbody>
        {% for current_file in file_list %}
            <tr>
                <td scope="row"><a href="/uploadcsv/{{ current_file }}">Process</a></td>
                <td scope="row">Delete</td>
                <td scope="row">{{ current_file }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}